_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.ReSharper.user
*.suo
*.cache
*~
*.swp
*.edb
*.log

/build
*.esent/
[Dd]ebug/
[Rr]elease/
build/
dist/
[Bb]in/
[Oo]bj/ 
logs
src/CommonAssemblyInfo.cs
uploads
App_Data/